@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Medium.ttf") format('opentype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins/Poppins-Bold.ttf") format('opentype');
    font-weight: 700;
}