.home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .title{
    font-size: 36px;
  }

  .input{
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 5vmin;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 1vmin;
    font-size: 2.5vmin;
  }

  .delete{
    color: red;
    cursor: pointer;
  }

  table{
    width: 50%;
    border:1px solid black;

    th{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      border-bottom:1px solid black;
    }

    td{
      padding-top: 1vh;
      padding-left: 1vh;
      font-size: 16px;
      font-weight: normal;
      text-align: center;

      input{
        display: flex;
        background-color: white;
        color: black !important;
        border: 0px;
        width: 100%;
        font-size: 16px;
        border:hidden;
      }
    }
  }	

  

  .edit{
    cursor: pointer;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
      
  }

  .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

  }

  button{				
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    border-color: black;
    padding: 2vh;
    cursor: pointer;
    border: 2;
    font-size: 12px;
  }

  button:hover{
    color: black;
    background-color: white;
    transition-duration: 0.5s;
  }

  //base style
  .mt-2{
    margin-top: 2vh;
  }

  .mt-4{
    margin-top: 4vh;
  }

  .mr-2{
    margin-right: 2vh;
  }

  .ml-2{
    margin-left: 2vh;
  }
}